.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem;

}

.flex-container > div {
    flex: 1 1 48%;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
        flex: 1 1 100%;
    }

    .featureContainer {
        min-height: 133px;
        min-width: 100%;
    }
}

@media (min-width: 1200px) {
    .flex-container > div {
        flex: 1 1 23%;
    }
}

.featureContainer {
    background-color: #fafafa;
    border-radius: 11px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
                0px 1px 3px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    min-width: 200px;
}
